.danger {
    padding: 1.5rem;
    background-color: red;
    color: white;
}

.success {
    padding: 1.5rem;
    background-color: green;
    color: white;
}

.info {
    padding: 1.5rem;
    background-color: rgba(255, 187, 0, 0.808);
    color: white;
}

.dark {
    padding: 1.5rem;
    background-color: rgba(15, 12, 4, 0.808);
    color: white;
}
/*
    TODO: Classess for bold, superbold etc
*/